<div role="tabpanel" class="tab-pane config-section active" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
        <div class="form-group">
            <label>
                Enable Bouncer
            </label>
            <select class="form-control custom-select" name="bouncer_enabled">
                <option value="true" {% if config.get("bouncer_enabled") == "true" %}selected{% endif %}>True</option>
                <option value="false" {% if config.get("bouncer_enabled") == "false" %}selected{% endif %}>False</option>
            </select>
        </div>

        <input type="hidden" value="{{ Session.nonce }}" name="nonce" id="nonce" />
        <button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>